<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <title>Log In</title>
</head>
<body>
<h1>Please Log In</h1>
<div th:if="${param.error}">Invalid username or password.</div>
<div th:if="${param.logout}">You have been logged out.</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log In" />
    <h3><a href="register">Создать нового пользователя</a></h3>
    <a href="http://localhost:8080/profile/admin">admin</a>
    <a href="http://localhost:8080/profile/user">user</a>
</form>
</body>
</html>